<ion-view title="Login">
    <ion-content class="padding login-content">
        <br/>
        <br/>
        <h2>Please sign in</h2>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Customer ID">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Domain\Username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
            <button class="button button-positive button-block">
                Sign in
            </button>
        </div>
    </ion-content>
</ion-view>
