<ion-view title="{{view.displayName}}">
    <ion-content class="padding">
        <!--" | filter:filterText-->

        <div ng-show="view.workItems.length > 0" class="list item-text-wrap">
            <div ng-repeat-start="statusGroup in statusGroups" ng-href="#/views/{{view.name}}" class="item item-divider">
                {{statusGroup[0].status.displayName}}
            </div>
            <div ng-repeat="workItem in statusGroup" class="item list-fixed-height">
                <span class="badge badge-royal">{{workItem.status.displayName | limitTo:1}}</span>
                <h6>
                    {{workItem.affectedUserDisplayName + '&nbsp; &#8226;'}}
                    {{workItem.createdDate | date : 'EEE, MMM d, y'}}
                </h6>
                <h2>{{workItem.displayName}}</h2>
                <div class="list-description-fixed-height">
                    {{workItem.description}}
                </div>
            </div>
            <div ng-repeat-end>
            </div>
        </div>
    </ion-content>
</ion-view>
