<ion-view title="Home" >
    <ion-content>
        <ion-list ng-show="views.length > 0">
            <ion-item ng-repeat="view in views" ng-href="#/views/{{view.name}}">
                <!--<span class="badge badge-royal">{{view.count}}</span>-->
                <span class="item-note">{{view.count}}</span>
                {{view.displayName}}
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <button class="button button-clear button-dark icon ion-plus"></button>
        
        <button class="button button-clear button-dark icon ion-navicon" on-tap="openMenu()"></button>
    </div>
</ion-view>
