<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.mfion808550" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
         xmlns:gap   = "http://phonegap.com/ns/1.0"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MF vNext</name>
  <description>
    An Ionic Framework and Cordova project.
  </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
    Ionic Framework Team
  </author>
  <content src="index.html"/>
  <icon src="icon.png" />
  <icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120" />
  <gap:splash src="mobilefront.png" gap:platform="ios" width="350" height="200" />
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <gap:platform name="ios"></gap:platform>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>

